body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9; /* Un color de fondo suave */
  color: #333; /* Color de texto oscuro para contraste */
}

.container {
  max-width: 700px; /* Controla el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor */
  background-color: #fff; /* Fondo blanco para los contenidos */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  padding: 20px; /* Espaciado interno */
}

h1, h2 {
  font-weight: 500; /* Semi-negrita */
}

.form-control {
  padding: 10px 15px; /* Espaciado interno */
  border-radius: 4px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde sutil */
  transition: border-color 0.2s; /* Transición suave */
}

.form-control:focus {
  border-color: #007bff; /* Cambia el color del borde al hacer focus */
  box-shadow: none; /* Quita el shadow por defecto */
}

.btn {
  border: none; /* Sin bordes */
  cursor: pointer; /* Manito al pasar el mouse */
  padding: 10px 15px; /* Espaciado interno */
  border-radius: 4px; /* Bordes redondeados */
  font-weight: 500; /* Semi-negrita */
  transition: background-color 0.2s; /* Transición suave */
}

.btn-primary {
  background-color: #007bff; /* Azul */
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  /* ... otros estilos ... */
  animation: fadeIn 1s ease-in-out; /* Aplicando la animación */
}