<div class="container mt-4">
  <div class="progress-container">
    <div
      class="progress-bar"
      [style.width]="(currentQuestionIndex + 1) * 25 + '%'"
    ></div>
  </div>
  <div class="progress-text">{{ currentQuestionIndex + 1 }} / 4</div>

  <div
    *ngIf="currentQuestionIndex < questions.length"
    class="question-container"
  >
    <label class="form-label">{{ questions[currentQuestionIndex] }}</label>
    <input type="text" class="form-control" [(ngModel)]="currentAnswer" />
  </div>

  <button class="btn btn-primary mt-3" (click)="nextQuestion()">
    Siguiente
  </button>
</div>
