<div class="container">
  <h2 class="mt-5">Iniciar Sesión</h2>
  <div *ngIf="!loggedIn" class="mt-4">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="name"
        class="form-control"
        placeholder="Tu nombre"
        required
      />
    </div>
    <div class="form-group">
      <label for="phone">Número de Teléfono:</label>
      <input
        type="tel"
        id="phone"
        [(ngModel)]="phone"
        class="form-control"
        placeholder="Tu número de teléfono"
        required
      />
    </div>
    <button class="btn btn-primary" (click)="sendMagicLink()">
      <span
        *ngIf="showSpinner"
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      <span *ngIf="!showSpinner">Enviar SMS</span>
    </button>
    <!--  <re-captcha
      (resolved)="resolved($event)"
      siteKey="6Le-054oAAAAAP0WFdTOtsNRHvcxYsKKnKom19CE"
    ></re-captcha> -->
  </div>
  <div *ngIf="loggedIn" class="mt-4">
    <h1 class="text-success">SMS enviado, introduce el código</h1>
    <div class="form-group">
      <label for="pin">Pin:</label>
      <input
        type="text"
        id="pin"
        [(ngModel)]="pin"
        class="form-control"
        placeholder="Tu pin"
        required
      />
      <small class="text-danger" *ngIf="pinErrorMessage">{{
        pinErrorMessage
      }}</small>
    </div>
    <button class="btn btn-primary" (click)="verifyNumber()">
      <span
        *ngIf="verificationSpinner"
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      <span *ngIf="!verificationSpinner">Verificar Pin</span>
    </button>
  </div>
</div>
